<div class="center">
  <div class="container">
    <div class="card-panel">
      <h5 class="header2">Retrouvez les anciens étudiants dès aujourd'hui !</h5>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="prenom" type="text" class="validate">
              <label>Prénom</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="nom" type="text" class="validate">
              <label>Nom</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label>Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="motDePasse" type="password" class="validate">
              <label>Mot de passe</label>
            </div>
          </div>
          <div class="input-field col s12">
            <label class="red-text">
              Si vous vous connectez avec votre adresse @univ-lorraine vous serez validés automatiquement<br/>
              Sinon un administrateur devra vous valider
            </label>
            <button class="btn green waves-effect waves-light right" type="submit" name="action">S'inscrire
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
