<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll color">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h3>Pokemon Stage</h3>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect color_clair">
      <a (click)="AllPokemon()" class="mdl-layout__tab is-active">Pokemons</a>
      <a (click)="AddOne()" class="mdl-layout__tab is-active">Ajouter un Pokemon</a>
      <a (click)="filtre()" class="mdl-layout__tab is-active">Filtres</a>
    </div>
  </header>

  <div class="mdl-layout__tab-panel is-active" *ngIf="menu">
    <app-pokemon style="float:left" [pokemon]="pokemon" (delete)="deletePokemon($event)"
                 *ngFor="let pokemon of pokemons">
    </app-pokemon>
  </div>
  <div class="mdl-layout__tab-panel is-active" *ngIf="!menu">
    <app-add-pokemon (changeMenu)="AllPokemon()">
    </app-add-pokemon>
  </div>
</div>

<modal>
  <form>
    <modal-body>
      <div class="form-group">
        <label>Last Name</label>
        <input #def type="number" class="form-control" required value="0" min="0" max="15">
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" (click)="filtrer(def.value)">Save</button>
    </modal-footer>
  </form>
</modal>
