<BR>
<BR>
<div class="container-fluid">
  <div class="row">
    <div class="col l3 center">
      <span class="text-bold"
            style="font-size: 25px;">Spécialité Logiciels : Méthodes Formelles et Ingéniérie (LMFI)</span>
      <BR><BR>
      <span class="text-bold left">Descriptif</span>
      <BR><BR>
      <p>
        concepts et principes fondamentaux pour la conception de logiciels sûrs, fiables et robustes, méthodes
        formelles et outils informatiques associés actuels ou en cours d'élaboration ; conception, développement et
        déploiement de logiciels de qualité tant dans des environnements centralisés que dans des environnements
        distribués.
      </p>
      <span class="text-bold left">Parcours</span>
      <BR><BR>
      Parcours Recherche – Méthodes Formelles (site de Nancy)
      <BR>
      Parcours Professionnel – Ingénierie Logicielle (site de Nancy)
      <BR><BR>
      <span class="text-bold left">Lien</span>
      <BR><BR>
      <a href="https://formations.univ-lorraine.fr/fr-FR/fiche/presentation/UL-PROG2654/UL-PROG3209">Descriptif
        détaillé</a>
      <BR><BR>
    </div>

    <div>
      <img src="/src/assets/images/fst.jpg"
           class="materialboxed col s6"
           alt="Université de Lorraine"/>
    </div>
    <div class="col l3 center">
      <span class="text-bold"
            style="font-size: 25px;">Spécialité Services, Sécurité des Systèmes et des Réseaux (SSSR)</span>
      <BR><BR>
      <span class="text-bold left">Descriptif</span>
      <BR><BR>
      <p>
        concepts et principes fondamentaux des thématiques autour des systèmes d'information du Web et de la sécurité ;
        prise en compte de la sécurité au travers de l’informatique ubiquitaire ainsi que des évolutions de l’Internet
        vers une infrastructure de services ; maîtrise des techniques et des méthodologies de sécurité informatique pour
        les systèmes d'information: comprendre et mettre en œuvre des méthodes et des outils de sécurité des systèmes,
        des réseaux et des services.
      </p>
      <span class="text-bold left">Parcours</span>
      <BR><BR>
      Parcours Professionnel – Sécurité des Architectures Web (site de Nancy)
      <BR>
      Parcours Professionnel - Sécurité des Systèmes d'Information (site de Metz)
      <BR><BR>
      <span class="text-bold left">Lien</span>
      <BR><BR>
      <a
        href="https://formations.univ-lorraine.fr/fr-FR/fiche/presentation/UL-PROG2654/UL-PROG3211?__1=__domaine&__2=AND&__3=__diplome&__4=AND&__5=__modalite&__6=AND&__7=__acces&__8=AND&__9=lieu&__10=AND&__11=__deroulement&__12=AND&__13=__intitule_pt_AND&__domaine=&__diplome=&__modalite=&__acces=&__lieu=&__deroulement=&__intitule_pt_AND=sssr#debut">Descriptif
        détaillé</a>
      <BR><BR>
    </div>
  </div>
</div>
